/* apply a natural box layout model to all elements, but allowing components to change */
@import "bourbon";
@import "neat";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";

html {
  box-sizing: border-box;
  background: #dce6e5;
}
*, *:before, *:after {
  box-sizing: inherit;
}

li {
  list-style: none;
  align-items: center;
  margin: auto;
  width: 65%;
}

.nav-bar {
  width: 100%;
  background-color: #255a7d;
}

.fa-plus-circle  {
  font-size: 3rem;
  margin-left: 4rem;
  padding: 0.5rem;
}
.image-form {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: 20rem;
  margin: auto;
  padding: 1rem;
  background: white;

}
.form-input {
  padding-left: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  // margin: auto;
  padding: 0.5rem;
}
.add-image {
  margin-left: 0.3rem;
  width: 12rem;
  background: #339d2c;
  border: 1px transparent solid;
  border-radius: 10px;
  color: white;
}
.cancel {
  width: 9rem;
  border: 1px transparent solid;
  border-radius: 10px;
  color: white;
}
.fa-picture-o {
  color: white;
  padding: 0.5rem;
  font-size: 2.5rem;
  vertical-align: middle;
}
.photo-container {
  width: 60rem;
  margin: auto;
  background: #C4cccb;
}
.image-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  width: 60rem;
  background: white;
  color: #7a7d7e;
  font-size: 1rem;
}
